POSTGRES_USER=u421_user
POSTGRES_PASSWORD=u421_pass
POSTGRES_DB=u421_db
JWT_SECRET=u421_jwt_secret_key
RABBITMQ_URL=amqp://u421_rabbit:u421_rabbit_pass@u421_rabbitmq:5672
RABBITMQ_QUEUE=u421_events_queue
AUTH_PORT=3001
EVENT_PORT=3002
NOTIFICATION_PORT=3003
